 <form action="/posts/" method="post">  
  <input type ="text" name="name" placeholder="e.g name of post ">  
    <input type="text" name="description"> 
    <input type="email" name="email"> 
    <input type="email" name="email"> 
   	<input type="number" name="price"> 

    <input type="submit" value="Post it!">  
  </form> 